<!DOCTYPE html>
<h2>Create a new Video:</h2>

<div class="row">
    <div class="col-md-4 col-center">
        <label for="videoTypeSwitcher" class="col-form-label">Type of video:&nbsp</label>
        <div class="btn-group" role="group" aria-label="Switcher" id="videoTypeSwitcher">
            <button type="button" ng-click="switchVideoType()" ng-class="{'active': existingVideo === true}" class="btn btn-secondary">Existing</button>
            <button type="button" ng-click="switchVideoType()" ng-class="{'active': existingVideo === false}" class="btn btn-secondary">New</button>
        </div>
    </div>
</div>

<!--Add a new Video-->
<div class="row" ng-hide="existingVideo">
    <div class="col-md-6">
        <div ngf-drop ngf-select ng-model="files" class="upload-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
            accept="image/*,application/pdf" ngf-pattern="'image/*,application/pdf'">Drop pdfs or images here or click to upload</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

    <div class="form-group row">
        <label for="name-input" class="col-2 col-form-label">Name:</label>
        <div class="col-10">
            <input class="form-control" type="text" ng-model="newVideo.name" placeholder="e.g. 'Main Station Video'" id="name-input">
        </div>
    </div>
    <div class="form-group row">
        <label for="desc-input" class="col-2 col-form-label">Description:</label>
        <div class="col-10">
            <input class="form-control" type="text" ng-model="newVideo.description" placeholder="e.g. 'A video of the Münster Main Station'"
                id="desc-input">
        </div>
    </div>
    <div class="form-group row">
        <label for="tags-input" class="col-2 col-form-label">Tags:</label>
        <div class="col-10">
            <input class="form-control" type="text" ng-model="newVideo.tags" placeholder="e.g. '#muenster, #sitcom, #myProject'" id="tags-input">
        </div>
    </div>
    <div class="form-group row">
        <label for="created-input" class="col-2 col-form-label">Recorded:</label>
        <div class="col-10">
            <input class="form-control" type="date" ng-model="newVideo.recorded" placeholder="01-01-2017" id="recorded-input">
        </div>
    </div>
    <button type="button" class="btn btn-secondary float-left" ng-click=""><i class="fa fa-caret-left" aria-hidden="true"></i> Cancel</button>
    <button type="button" class="btn btn-secondary float-right" ng-click="">Add Video <i class="fa fa-caret-right" aria-hidden="true"></i></button>
</div>
<!-- End col-md-6 -->

<div class="col-md-6">
    <leaflet id="addNewVideoMap" defaults="defaults" width="100%" height="40%"></leaflet>
    </br>
    <div class="form-group row">
        <label for="latitude" class="col-2 col-form-label">Latitude: </label>
        <div class="col-2">
            <input class="form-control" type="number" ng-model="newVideo.location.latitude" placeholder=51.22 id="latitude">
        </div>
        <label for="longitude" class="col-2 col-form-label">Longitude: </label>
        <div class="col-2 float-right">
            <input class="form-control" type="number" ng-model="newVideo.location.longitude" placeholder=7.04 id="longitude">
        </div>

        <div class="input-group" id="searchBar">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
        </div>


    </div>
</div>
<!-- End col-md-6 -->
</div>
<!-- End row Add new Video-->

<!--Add an existing Video-->
<div class="row" ng-show="existingVideo">
    <!--Add an existing video-->
    <div class="col-md-12">
        <leaflet id="addExistingVideoMap" defaults="defaults" width="100%" height="40%"></leaflet>
        <div class="input-group" id="searchBar">
            <input type="text" class="form-control" placeholder="Search for existing Videos">
            <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
        </div>
        <button type="button" class="btn btn-secondary float-left" ng-click=""><i class="fa fa-caret-left" aria-hidden="true"></i> Cancel</button>
        <button type="button" class="btn btn-secondary float-right" ng-click="">Add Video <i class="fa fa-caret-right" aria-hidden="true"></i></button>
    </div>
</div>
</div>