<!DOCTYPE html>

<!--Header-->

<div class="row col-center">
    <!--Icon 1-->
    <div class="col-md-4 col-lg-4 iconbox active">
        <div class="hexagon">
            <i class="fa fa-street-view fa-2x" aria-hidden="true"></i>
        </div>
        <span>I. Create Scenario</span>
    </div>
    <!--Icon 2-->
    <div class="col-md-4 col-lg-4 iconbox" id="step2">
        <div class="hexagon">
            <i class="fa fa-file-video-o fa-2x" aria-hidden="true"></i>
        </div>
        <span>II. Add Video</span>
    </div>
    <!--Icon 3-->
    <div class="col-md-4 col-lg-4 iconbox" id="step3">
        <div class="hexagon">
            <i class="fa fa-window-maximize fa-2x" aria-hidden="true"></i>
        </div>
        <span>III. Place Overlays</span>
    </div>
</div>
<hr>

<!--Step 1 (General Information)-->
<div class="row" ng-show="currentState.general">
    <div class="col-md-6 col-center animate-show-hide">
        <p>Step 1: General Information</p>
        <div class="form-group row">
            <label for="name-input" class="col-2 col-form-label">Name:</label>
            <div class="col-10">
                <input class="form-control" type="text" ng-model="newScenario.name" placeholder="e.g. 'Main Station Scenario'" id="name-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="desc-input" class="col-2 col-form-label">Description:</label>
            <div class="col-10">
                <input class="form-control" type="text" ng-model="newScenario.description" placeholder="e.g. 'A scenario simulating a new construction'"
                    id="desc-input">
            </div>
        </div>
        <div class="form-group row">
            <label for="tags-input" class="col-2 col-form-label">Tags:</label>
            <div class="col-10">
                <input class="form-control" type="text" ng-model="newScenario.tags" placeholder="e.g. '#muenster, #sitcom, #myProject'" id="tags-input">
            </div>
        </div>
        <!--<div class="form-group row">
            <label for="created-input" class="col-2 col-form-label">Date:</label>
            <div class="col-10">
                <input class="form-control" type="date" ng-model="newScenario.created" placeholder="01-01-2017" id="created-input">
            </div>
        </div>-->
        <button type="button" class="btn btn-secondary float-left" ng-click="redirect('/scenarios')"><i class="fa fa-caret-left" aria-hidden="true"></i> Cancel</button>
        <button type="button" class="btn btn-secondary float-right" ng-click="submitGeneral()">Next <i class="fa fa-caret-right" aria-hidden="true"></i></button>
    </div>
</div>

<!--Step 2.1 (Add Videos - Overview)-->
<div class="row" ng-show="currentState.scenarioVideoOverview">
    <div class="col-md-12">
        <p>Step 2: Add Videos to your scenario:</p>
        <div class="row">
            <div ng-repeat="video in newScenario.videos" class="col-md-4 scenario">
                <p>{{video.name}}</p>
                <img src="http://lorempixel.com/300/169"></br>
                <a href="" ng-click=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <a href="" ng-click=""><i class="fa fa-trash-o" aria-hidden="true"></i></a></br>
                <!--<label for="vid_position">Position</label>
                <input type="number" value="{{video.scenario_position}}" id="vid_position"></input>-->
            </div>

            <div class="col-md-4 addScenario">
                <a href="" ng-click="addVideo()">Add video to Scenario</br>
                <i class="fa fa-plus-square-o fa-4x" aria-hidden="true"></i></a>
            </div>
        </div>
        <button type="button" class="btn btn-secondary float-left" ng-click="cancel('scenarioVideoOverview')"><i class="fa fa-caret-left" aria-hidden="true"></i> Cancel</button>
        <button type="button" class="btn btn-secondary float-right" ng-click="createOverlay()">Add Overlays <i class="fa fa-caret-right" aria-hidden="true"></i></button>
    </div>
</div>

<!--Step 2.2 (Add new Video)-->
<div ng-show="currentState.addVideo">

    <!--<p>Step 2: Add Videos</p>-->

    <label for="videoTypeSwitcher" class="col-form-label">Type of video:&nbsp</label>
    <div class="btn-group" role="group" aria-label="Switcher" id="videoTypeSwitcher">
        <button type="button" ng-click="switchVideoType()" ng-class="{'active': existingVideo === true}" class="btn btn-secondary">Existing</button>
        <button type="button" ng-click="switchVideoType()" ng-class="{'active': existingVideo === false}" class="btn btn-secondary">New</button>
    </div>

    <!--Add a new Video-->
    <div class="row" ng-hide="existingVideo">
        <div class="col-md-6">
         <p> General information and file upload </p>
        <hr>
        <div ngf-drop ngf-select ng-model="uploadingVideo" class="upload-box" ngf-drag-over-class="'dragover'" ngf-multiple="false"
            ngf-allow-dir="false" ngf-accept="'video/*, video/mp4'" ngf-pattern="'video/*, video/mp4'" ngf-change="upload_change($event)">
            <p ng-hide="file_selected">Drop your video file here or click to upload</p>
            <div ng-show="file_selected">

                <p> Selected File: {{uploadingVideo.name}}</p>
                <p> File Size: {{uploadingVideo.size}} Bytes</p>
                <div ng-show="uploadStarted" class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 15%"></div>
                </div>
                <p ng-show="uploadStarted" class="col-center">{{uploadStatus.currentPercentage}}% ({{uploadStatus.loaded}} / {{uploadStatus.total}})</p>
            </div>
        </div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
            <div class="form-group row">
                <label for="video_name-input" class="col-2 col-form-label">Name:</label>
                <div class="col-10">
                    <input class="form-control" type="text" ng-model="newVideo.name" placeholder="e.g. 'Main Station Scenario'" id="video_name-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="video_desc-input" class="col-2 col-form-label">Description:</label>
                <div class="col-10">
                    <input class="form-control" type="text" ng-model="newVideo.description" placeholder="e.g. 'A scenario simulating a new construction'" id="video_desc-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="video_tags-input" class="col-2 col-form-label">Tags:</label>
                <div class="col-10">
                    <input class="form-control" type="text" ng-model="newVideo.tags" placeholder="e.g. '#muenster, #sitcom, #myProject'" id="video_tags-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="video_recorded-input" class="col-2 col-form-label">Recorded:</label>
                <div class="col-10">
                    <input class="form-control" type="date" ng-model="newVideo.recorded" placeholder="01-01-2017" id="video_recorded-input">
                </div>
            </div>
            <button type="button" class="btn btn-secondary float-left" ng-click="cancel('addVideo')"><i class="fa fa-caret-left" aria-hidden="true"></i> Cancel</button>
            <button type="button" class="btn btn-secondary float-right" ng-click="submitVideo()">Add Video <i class="fa fa-caret-right" aria-hidden="true"></i></button>
        </div>
        <!-- End col-md-6 -->

        <div class="col-md-6">

            <p>Select location of the video or drag the black marker!</p>
            <hr>
            <leaflet id="addNewVideoMap" defaults="defaults" width="100%" height="40%"></leaflet>
            </br>
            <div class="form-group row">
                <label for="latitude" class="col-3 col-form-label">Latitude: </label>
                <div class="col-3">
                    <input class="form-control" ng-model="newVideo.location.lat" placeholder=51.22 id="latitude">
                </div>

                
                <label for="longitude" class="col-3 col-form-label">Longitude: </label>
                <div class="col-3 float-right">
                    <input class="form-control" ng-model="newVideo.location.lng" placeholder=7.04 id="longitude">
                </div>

                <div class="input-group" id="searchBar">
                    <input type="text" class="form-control" ng-model="searchTerm" placeholder="Search for names...">
                    <span class="input-group-btn">
                            <button class="btn btn-secondary" ng-click="searchLocation()" type="button">Go!</button>
                        </span>
                </div>

                <div ng-hide="existingLocation">
                    <hr>
                    <p>It seems like you want to create a new Location. Please add the following details:</p>
                    <div class="form-group row">
                        <label for="name-input" class="col-2 col-form-label">Name:</label>
                        <div class="col-10">
                            <input class="form-control" type="text" ng-model="newLocation.name" placeholder="e.g. 'Münster Domplatz'" id="name-input-location">
                        </div>
                    </div>  
            
                    <div class="form-group row">
                        <label for="desc-input" class="col-2 col-form-label">Description:</label>
                        <div class="col-10">
                            <input class="form-control" type="text" ng-model="newLocation.description" placeholder="e.g. 'A place near the dom'"
                                id="desc-input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- End col-md-6 -->
    </div>
    <!-- End row Add new Video-->

    <!--Add an existing Video-->
    <div class="row" ng-show="existingVideo">
        <!--Add an existing video-->
        <div class="col-md-12">
            <leaflet id="addExistingVideoMap" defaults="defaults" width="100%" height="40%"></leaflet>
            <div class="input-group" id="searchBar">
                <input type="text" class="form-control" placeholder="Search for existing Videos">
                <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
            </div>
            <button type="button" class="btn btn-secondary float-left" ng-click="cancel('AddVideo_Step2')"><i class="fa fa-caret-left" aria-hidden="true"></i> Cancel</button>
            <button type="button" class="btn btn-secondary float-right" ng-click="">Add Video <i class="fa fa-caret-right" aria-hidden="true"></i></button>
        </div>
    </div>
</div>


<!-- Step 3.1 (Create Overlays)-->
<div class="row" ng-show="currentState.createOverlay">

    <p class="introText">Create Overlay for Video: "{{newScenario.videos[0].name}}"</p>
    <div class="col-md-12">
        <label for="overlayTypeSwitcher" class="col-form-label float-left">Type of overlay:&nbsp</label>
        <div class="btn-group float-left" role="group" aria-label="Switcher" id="overlayTypeSwitcher">
            <button type="button" ng-click="switchOverlayType()" ng-class="{'active': existingOverlay === true}" class="btn btn-secondary">Existing</button>
            <button type="button" ng-click="switchOverlayType()" ng-class="{'active': existingOverlay === false}" class="btn btn-secondary">New</button>
        </div>

        <button type="button" class="btn btn-secondary float-right" ng-click="">I don't want an overlay for this Video</button>

        <br>
    </div>

    <!--Input fields-->
    <div class="col-md-6">
        <div class="input-group" ng-show="existingOverlay" id="searchBar">
            <input type="text" class="form-control" placeholder="Search for existing Overlay">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
            </span>
        </div>

        <div class="newOverlay" ng-hide="existingOverlay">

            <div class="form-group row">
                <label for="name-input" class="col-3 col-form-label">Name:</label>
                <div class="col-9">
                    <input class="form-control" type="text" ng-model="newOverlay.name" placeholder="e.g. 'Main Station Scenario'" id="name-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="desc-input" class="col-3 col-form-label">Description:</label>
                <div class="col-9">
                    <input class="form-control" type="text" ng-model="newOverlay.description" placeholder="e.g. 'A scenario simulating a new construction'"
                        id="desc-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="tags-input" class="col-3 col-form-label">Tags:</label>
                <div class="col-9">
                    <input class="form-control" type="text" ng-model="newOverlay.tags" placeholder="e.g. '#muenster, #sitcom, #myProject'" id="tags-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="created-input" class="col-3 col-form-label">Link (URL):</label>
                <div class="col-9">
                    <input class="form-control" type="url" ng-model="newOverlay.url" placeholder="e.g. http://www.google.de" id="created-input">
                </div>
            </div>
        </div>

    </div>


    <!--Video preview-->
    <div class="col-md-6">
        <div class="video-container">
            <videogular vg-theme="videoConfig.theme" vg-responsive="true">
                <vg-media vg-src="videoConfig.sources" vg-tracks="videoConfig.tracks" vg-native-controls="true"></vg-media>
            </videogular>
        </div>
    </div>


    <div class="col-md-12">
        <button type="button" class="btn btn-secondary float-left" ng-click="cancel('createOverlay')"><i class="fa fa-caret-left" aria-hidden="true"></i> Cancel</button>
        <button type="button" class="btn btn-secondary float-right" ng-click="placeOverlay()">Place Overlay <i class="fa fa-caret-right" aria-hidden="true"></i></button>
    </div>

</div>

<!--Step 3.2 (Place Overlay)-->
<div class="row" ng-show="currentState.placeOverlay">

    -- Place the overlay here -- // Logic to be added soon.

</div>