<!DOCTYPE html>

<h2>Detail View: {{scenario.name}} Scenario</h2>

<div class="row">

    <div class="col-md-6">
        <leaflet id="scenarioDetailMap" defaults="defaults" width="100%" height="35%"></leaflet>
    </div>

    <div class="col-md-6">

        <div class="btn-group float-right" role="group" aria-label="ButtonBar" ng-hide="editMode">
            <button ng-click="redirect('/scenarios')" type="button" class="btn btn-secondary">
                    <i class="fa fa-caret-left" aria-hidden="true"></i> Back
                </button>
            <button ng-click="editScenario()" type="button" class="btn btn-secondary">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                </button>
        </div>

        <div class="btn-group float-right" role="group" aria-label="ButtonBar" ng-show="editMode">
            <button ng-click="editScenario()" type="button" class="btn btn-secondary">
                    <i class="fa fa-caret-left" aria-hidden="true"></i> Back
                </button>
            <button ng-click="deleteScenario()" type="button" class="btn btn-danger">
                    <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                </button>
            <button ng-click="saveScenario()" type="button" class="btn btn-primary">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                </button>
        </div>
        <br>
        <div class="inputFields">
            <div class="form-group row">
                <label for="name-input" class="col-2 col-form-label">Name:</label>
                <div class="col-10">
                    <input class="form-control" type="text" ng-model="scenario.name" id="name-input" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="desc-input" class="col-2 col-form-label">Description:</label>
                <div class="col-10">
                    <input class="form-control" type="text" ng-model="scenario.description" id="desc-input" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="tags-input" class="col-2 col-form-label">Tags:</label>
                <div class="col-10">
                    <input class="form-control" type="text" ng-model="scenario.tags" id="tags-input" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="created-input" class="col-2 col-form-label">Created:</label>
                <div class="col-10">
                    <input class="form-control" type="string" ng-model="scenario.created" id="created-input" disabled>
                </div>
            </div>
        </div>

    </div>
</div>
<!--End head area-->

<hr>

<div class="row">
    -- content -- 
</div>