<!DOCTYPE html>

<h2 ng-hide="repositionOverlayState"> Detail View: {{scenario.name}} Scenario</h2>

<div class="row" ng-hide="repositionOverlayState">

    <div class="col-md-6">
        <leaflet id="scenarioDetailMap" defaults="defaults" width="100%" height="35%"></leaflet>
    </div>

    <div class="col-md-6">

        <div class="btn-group float-right" role="group" aria-label="ButtonBar" ng-hide="editMode">
            <button ng-click="redirect('/scenarios')" type="button" class="btn btn-secondary">
                    <i class="fa fa-caret-left" aria-hidden="true"></i> Back
                </button>
            <button ng-click="editScenario()" type="button" class="btn btn-secondary">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                </button>
        </div>

        <div class="btn-group float-right" role="group" aria-label="ButtonBar" ng-show="editMode">
            <button ng-click="editScenario()" type="button" class="btn btn-secondary">
                    <i class="fa fa-caret-left" aria-hidden="true"></i> Cancel
                </button>
            <button ng-click="deleteScenario()" type="button" class="btn btn-danger">
                    <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                </button>
            <button ng-click="saveScenario()" type="button" class="btn btn-primary">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                </button>
        </div>
        <br>
        <div class="inputFields">
            <div class="form-group row">
                <label for="name-input" class="col-2 col-form-label">Name:</label>
                <div class="col-10">
                    <input class="form-control" type="text" ng-model="scenario.name" id="name-input" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="desc-input" class="col-2 col-form-label">Description:</label>
                <div class="col-10">
                    <input class="form-control" type="text" ng-model="scenario.description" id="desc-input" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="tags-input" class="col-2 col-form-label">Tags:</label>
                <div class="col-10">
                    <input class="form-control" type="text" ng-model="scenario.tags" id="tags-input" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="created-input" class="col-2 col-form-label">Created:</label>
                <div class="col-10">
                    <input class="form-control" type="string" ng-model="scenario.created" id="created-input" disabled>
                </div>
            </div>
        </div>

    </div>
</div>
<!--End head area-->
<hr ng-hide="repositionOverlayState">
<hr ng-hide="repositionOverlayState">

<div ng-repeat="video in scenario.videos" class="row videos" ng-hide="repositionOverlayState">
    <div class="col-md-4 video">
        <p>Video #{{$index + 1}}: <br> {{video.video_name}}</p>
        <img width="250px" height="141px" src="{{video.video_url + '_thumbnail.png'}}"></br>
        <a href="" ng-click="redirect('/videos/'+ video.video_id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a href="" ng-click="deleteVideo(video.video_id)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
    </div>
    <div ng-repeat="overlay in video.overlays" class="col-md-3 offset-md-2 overlay">
        <p>Overlay #{{$index + 1}}: <br> {{overlay.overlay_name}}</p>
        <img width="250px" height="141px" src="{{video.video_url + '_thumbnail.png'}}"></br>
        <a href="" ng-click="redirect('/overlays/'+ overlay.overlay_id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a href="" ng-click="deleteOverlay(video.video_id, overlay.overlay_id)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        <a href="" ng-click="repositionOverlay(overlay)"><i class="fa fa-arrows" aria-hidden="true"></i></a>
    </div>
    <div ng-hide="video.multipleOverlays" class="col-md-3 addOverlay">
        <a ng-click="redirect('/overlays/create-new')" href="">Add Overlay</br>
        <i class="fa fa-plus-square-o fa-4x" aria-hidden="true"></i></a>
    </div>
</div>

<div ng-show="repositionOverlayState">

    <h2>Place the Overlay for Video {{positioningOverlay.video_name}}</h2>
    <div id='video_container'>
        <videogular vg-theme="videoConfig.theme" vg-responsive="true">
            <div id="overlay_container" ng-draggable='dragOptions'>
            </div>
            <vg-media vg-src="videoConfig.sources" vg-tracks="videoConfig.tracks" vg-native-controls="true"></vg-media>
        </videogular>

        <div class="btn-group float-left" aria-label="ButtonBar">
            <button ng-click="redirect('/scenarios/' + scenario.scenario_id)" type="button" class="btn btn-secondary float-left">
                    <i class="fa fa-caret-left" aria-hidden="true"></i> Back
                </button>
        </div>

        <div class="btn-group float-right" aria-label="ButtonBar">
            <button ng-click="saveOverlayPosition()" type="button" class="btn btn-secondary float-right">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                </button>
        </div>
    </div>



</div>